﻿<%@ Page Title="O naší společnosti" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="About.aspx.cs" Inherits="mhd.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        O produktu
    </h2>
    <p>
        Jiří Znoj - ZNO0011
    </p>
</asp:Content>
