﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Cena.aspx.cs" Inherits="mhd.Form.Cena" %>
    <asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
        <h3>Vypočítat cenu jízdného</h3>
        <p>Zastávka odjezdu:
            <asp:DropDownList ID="DropDownList1c" runat="server" DataSourceID="odsZastavkaOc" DataTextField="Nazev" DataValueField="Nazev" Height="25px" Width="144px">
            </asp:DropDownList>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zastávka příjezdu:
            <asp:DropDownList ID="DropDownList2c" runat="server" DataSourceID="odsZastavkaPc" DataTextField="Nazev" DataValueField="Nazev" Height="25px" Width="144px">
            </asp:DropDownList>
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Přibližný čas odjezdu:
            <asp:TextBox ID="TextBox1" runat="server" Height="16px" Width="160px"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Vypočítat cenu" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>&nbsp;<asp:Label ID="Label1" runat="server"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>&nbsp;</p>


        <asp:ObjectDataSource ID="odsZastavkaOc" runat="server" TypeName="MHD.Database.ZastavkaTable" SelectMethod="SelectJmen" >
        </asp:ObjectDataSource>
        
        <asp:ObjectDataSource ID="odsZastavkaPc" runat="server" TypeName="MHD.Database.ZastavkaTable" SelectMethod="SelectJmen" >
        </asp:ObjectDataSource>
        </asp:Content>
