﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RozpisSmen.aspx.cs" Inherits="mhd.Form.RozpisSmen" %>

        <asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
        <p><asp:GridView ID="GridViewRozpisSmen" runat="server" DataKeyNames="typSmeny, rc" 
            AllowPaging="True" DataSourceID="odsRozpisSmen">
            <Columns>
            </Columns>
        </asp:GridView></p>

        <asp:ObjectDataSource ID="odsRozpisSmen" runat="server" TypeName="MHD.Database.RozpisSmenTable" 
        SelectMethod="Select">
           
        </asp:ObjectDataSource> 

        
        </asp:Content>
