﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Spoj.aspx.cs" Inherits="mhd.Form.Spoj" %>
    <asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
        <h3>Vyhledat spoj</h3>
        <p>Zastávka odjezdu:
            <asp:DropDownList ID="DropDownList1" runat="server" DataSourceID="odsZastavkaO" DataTextField="Nazev" DataValueField="Nazev" Height="25px" Width="144px">
            </asp:DropDownList>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zastávka příjezdu:
            <asp:DropDownList ID="DropDownList2" runat="server" DataSourceID="odsZastavkaP" DataTextField="Nazev" DataValueField="Nazev" Height="25px" Width="144px">
            </asp:DropDownList>
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Čas odjezdu:
            <asp:TextBox ID="TextBox1" runat="server" Height="16px" Width="160px"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Vyhledej spoj" />
            &nbsp;&nbsp;&nbsp;<asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Vyhledej zpáteční spoj" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>&nbsp;<asp:Label ID="Label1" runat="server"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>&nbsp;</p>


        <asp:ObjectDataSource ID="odsZastavkaO" runat="server" TypeName="MHD.Database.ZastavkaTable" SelectMethod="SelectJmen" >
        </asp:ObjectDataSource>
        
        <asp:ObjectDataSource ID="odsZastavkaP" runat="server" TypeName="MHD.Database.ZastavkaTable" SelectMethod="SelectJmen" >
        </asp:ObjectDataSource>
        </asp:Content>
